[submodule "submodules/SimplePasteBin"]
	path = submodules/SimplePasteBin
	url = https://github.com/salehjg/SimplePasteBin.git
[submodule "submodules/argparse"]
	path = submodules/argparse
	url = https://github.com/jamolnng/argparse.git
[submodule "submodules/hlslib"]
	path = submodules/hlslib
	url = https://github.com/definelicht/hlslib.git
[submodule "submodules/spdlog"]
	path = submodules/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "submodules/rapidjson"]
	path = submodules/rapidjson
	url = https://github.com/Tencent/rapidjson.git
